# Set defaults
defaults
auth on
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

# example@example.com
account example
tls on
auth on
host send.example.com
port 587
from example@example.com
user example@example.com
password <password>